<h1>Todo item {{ todo.id }} </h1>

<p>Edit item {{ todo.title }}.</p>

<p *ngIf="!todo"><em>Loading...</em></p>
<!-- <label>item: </label>  -->
<div class="col-md-3 input-group">
<input [(ngModel)]="todoitem.item" class="form-control " placeholder="new todo item"/>
<span class="input-group-btn">
    <button (click)="Additem()" class="btn  btn-primary " >Add</button>
</span>
</div>
<table class='table' *ngIf="todoItems">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todoitem of todoItems">
            <td>{{ todoitem.id }}</td>
            <td>{{ todoitem.item }}</td>
        </tr>
    </tbody>
</table>
<button (click)="goback()" class="btn-default btn">back</button>