<h1>Todo </h1>

<p>This component is to run todo app.</p>

<!-- <p *ngIf="!todos"><em>Loading...</em></p> -->

<table class='table' *ngIf="todos">
    <thead>
        <tr>
            <th>Title</th>
            <th># Items</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td><a routerLink="/todo/{{todo.id}}"> {{ todo.title }}</a></td>
            <td>{{ todo.todoItem.length }}</td>
        </tr>
    </tbody>
</table>
<a routerLink="/todo/{{todo.id}}"> {{ todo.title }}</a>